<!-- Start Top Header Bar -->
<header class="top-header">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-12 col-sm-4">
            </div>
            <div class="my-3 col-md-12 d-flex justify-content-between align-items-center ">
                <span class="fs-2"><img width="50"
                        src="https://cdn.pixabay.com/photo/2012/04/16/11/34/shopping-35594_1280.png" alt=""></span>


                {{#if logueado}}
                <a class="links-login" href="/logout">LOGOUT: {{usuario}}</a> | <a href="/admin">ADMIN</a>
                {{else}}
                <a class="links-login" href="/login">LOGIN </a>
                {{/if}}
            </div>
        </div>
    </div>
</header><!-- End Top Header Bar -->