<!DOCTYPE html>
<html lang="en">

<head>
  {{>head}}
  <style>
    .error {
      background-color: red;
      color: white;
      padding: "20px";
      display: none
    }
  </style>
</head>

<body class="login">


  <main class="form-signin">
    {{#if error}}
    <div class="error">{{error}}</div>
    <div class="alert alert-danger mb-3" role="alert">{{error}}</div>
    {{/if}}
    <form action="/login" method="post">

      <h1 class="h3 mb-3 text-center">Acceso al panel de control</h1>

      <div class="form-floating">
        <input type="email" class="form-control" id="usuario" value="admin@test.com" placeholder="name@example.com" name="usuario">
        <label for="usuario">Usuario</label>
      </div>
      <div class="form-floating">
        <input type="clave" class="form-control" id="clave" value="123" placeholder="Contraseña" name="clave">
        <label for="clave">Contraseña</label>
      </div>


      <button class="w-100 btn btn-lg btn-info" type="submit">Entrar</button>
    </form>
    <p class="error">Usuario o contraseña incorrecta</p>
    <a id="devLogin" href="/admin">IR A ADMIN (MODO DEV)</a>

  </main>


</body>

</html>

<script>
 const devLogin=document.querySelector("#devLogin")
 devLogin.addEventListener("click",()=>{
document.querySelector("form").submit()
 })

</script>